
<div class="card" [routerLink]="['/showevents' + '/' + currentEvent.id]">
  <img class="card-img-top" height="250px" [src]="currentEvent.iamge_url" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{currentEvent.name}}</h5>
    <i *ngIf="isPriority == true" (click)="setPriority()" class="fas fa-2x fa-check-square"></i>
    <i *ngIf="isPriority == false" (click)="setPriority()" class="far fa-2x fa-check-square"></i>
    <i *ngIf="isVisible == true" (click)="setVisibility()" class="fas fa-2x fa-eye"></i>
    <i *ngIf="isVisible == false" (click)="setVisibility()" class="far fa-2x fa-eye-slash"></i>
    <i class="fas fa-2x fa-edit" (click)="sendForEdit()" ></i>
  </div>
</div>