<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Event Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <input type="text" class="form-control" placeholder="Description">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Image url</label>
    <input type="url" class="form-control" placeholder="Image url">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Date</label>
    <input type="date" class="form-control" placeholder="Date started">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>